<div class="row player" id="<%= dom_id room_player %>">
  <div class="col player-user" style="color: <%= room_player.player.color %>">
    <%= room_player.player.username %>
  </div>
  <div class="col player-status">
    <%= room_player.status == 1 ? "Online" : "Offline" %>
  </div>
  <div class="col player-morale">
    <%= room_player.morale %>
  </div>
  <div class="col player-energy">
    <%= room_player.energy %>
  </div>
</div>
