<div id="<%= dom_id room_player %>">
  <p>
    <strong>Player:</strong>
    <%= room_player.player_id %>
  </p>

  <p>
    <strong>Game room:</strong>
    <%= room_player.game_room_id %>
  </p>

  <p>
    <strong>Morale:</strong>
    <%= room_player.morale %>
  </p>

  <p>
    <strong>Energy:</strong>
    <%= room_player.energy %>
  </p>

</div>
