<%= form_with(model: game_room) do |form| %>
  <% if game_room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_room.errors.count, "error") %> prohibited this game_room from being saved:</h2>

      <ul>
        <% game_room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div 
    data-controller="map-editor"
  >
    <div id="mapEditor" data-action="click->map-editor#toggleCell keydown->map-editor#updateEditables">

    </div>

    <div>
      <%= form.label :map_terrain, style: "display: block" %>
      <%= form.text_area :map_terrain, {"data-action": "change->map-editor#onTextChange", "data-map-editor-target": "inputMap" }%>
    </div>

    <div>
      <%= form.label :map_width, style: "display: block" %>
      <%= form.number_field :map_width, {"data-map-editor-target": "inputWidth" }%>
    </div>

    <div id="mapHeight">
      
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
