<%= form_with(model: game_room) do |form| %>
  <% if game_room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_room.errors.count, "error") %> prohibited this game_room from being saved:</h2>

      <ul>
        <% game_room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :map_terrain, style: "display: block" %>
    <%= form.text_area :map_terrain %>
  </div>

  <div>
    <%= form.label :map_objects, style: "display: block" %>
    <%= form.text_area :map_objects %>
  </div>

  <div>
    <%= form.label :map_width, style: "display: block" %>
    <%= form.number_field :map_width %>
  </div>

  <div>
    <%= form.label :map_height, style: "display: block" %>
    <%= form.number_field :map_height %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
