<div class="table_container">
	<div class="table">
		<div class="row">
			<div class="col">
				<div class="row no-outilne">
					<div class="col no-outilne">
						<h1>Room # <%= @game_room.id %></h1>
						<svg
							data-controller="map-viewer"
							data-map-viewer-width-value="<%=@game_room.map_width%>"
							data-map-viewer-map-value="<%= @game_room.map_terrain %>"
						/>
					</div>
				</div>
				<div class="row">
					<div 
						data-controller="game"
						class="col no-outilne" style="width: 100%"
						data-game-game-id-value="<%=@game_room.id%>"
					>
						<button
							class="play_button"
							data-action="click->game#load_game"
						>Play</button>
					</div>
				</div>
			</div>
			<div class="col">
				<h2>Players</h2>
				<div id="room-players-table" class="room-players-table">
					<div class="row">
						<div class="col no-outilne">username</div>
						<div class="col no-outilne">status</div>
						<div class="col no-outilne">morale</div>
						<div class="col no-outilne">energy</div>
					</div>
					<% if @game_room.room_players.any? %>
			      <%= render @game_room.room_players %>
			    <% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="center container">
	<div id="canvas_container" class="canvas-frame">
	</div>
	<div id="thisId"></div>
</div>