<p style="color: green"><%= notice %></p>
<%= link_to "Back to game rooms", game_rooms_path %>
<div class="row" id="<%= dom_id @game_room %>">
  <div class="col">
      <strong>Map terrain:</strong>
      <svg
        data-controller="map-viewer"
        data-map-viewer-width-value="<%=@game_room.map_width%>"
        data-map-viewer-map-value="<%= @game_room.map_terrain %>"
      />
  </div>
  <div class="col">
    <strong>Map width:</strong>
    <p>
      <%= @game_room.map_width %>
    </p>
  </div>
  <div class="col">
    <%= link_to "Edit this game room", edit_game_room_path(@game_room) %>
    <%= link_to "Play this game room", game_room_play_path(@game_room) %>
    <%= button_to "Destroy this game room", @game_room, method: :delete %>
  </div>
</div>

<div class="table">
  <div class="row">
    <div class="col justify-center">Key Code</div>
    <div class="col justify-center">Elements</div>
    <div class="col justify-center lg-col">Images</div>
  </div>
  <% @elements.each do |key_code, elements| %>
    <div class="row">
      <div class="col justify-center">
        <%= key_code %>
      </div>
      <div class="col justify-center">
        <% elements.each do |elem| %>
          <%= elem.element_type %><br>
        <% end %>
      </div>
        <div class="col justify-center lg-col">
          <div class="animated-cube">
            <div class="cube <%= (elements.first && elements.first.element_type.downcase.include?('wall')) ? "horizontal" : "vertical"%>">
              <% elements.each do |elem| %>
                <% if elem.image.present? %>
                  <% if elem.element_type.downcase == "walln" %>
                    <div class="cube-face cube-face-north" style="background-image: url(<%= url_for(elem.image) %>);">north</div>
                  <% elsif elem.element_type.downcase == "walls" %>
                    <div class="cube-face cube-face-south" style="background-image: url(<%= url_for(elem.image) %>);">south</div>
                  <% elsif elem.element_type.downcase == "wallw" %>
                    <div class="cube-face cube-face-west" style="background-image: url(<%= url_for(elem.image) %>);">west</div>
                  <% elsif elem.element_type.downcase == "walle" %>
                    <div class="cube-face cube-face-east" style="background-image: url(<%= url_for(elem.image) %>);">east</div>
                  <% elsif elem.element_type.downcase == "floor" %>
                    <div class="cube-face cube-face-floor" style="background-image: url(<%= url_for(elem.image) %>);">floor</div>
                  <% elsif elem.element_type.downcase == "ceiling" %>
                    <div class="cube-face cube-face-ceiling" style="background-image: url(<%= url_for(elem.image) %>);">ceiling</div>
                  <% end %>
                <% end %>
              <% end %>
              <% if (elements.filter{|elem| elem.element_type.downcase == "walln"}).empty? %>
                <div class="cube-face cube-face-north">north</div>
              <% end %>
              <% if (elements.filter{|elem| elem.element_type.downcase == "walls"}).empty? %>
                <div class="cube-face cube-face-south">south</div>
              <% end %>
              <% if (elements.filter{|elem| elem.element_type.downcase == "walle"}).empty? %>
                <div class="cube-face cube-face-east">east</div>
              <% end %>
              <% if (elements.filter{|elem| elem.element_type.downcase == "wallw"}).empty? %>
                <div class="cube-face cube-face-west">west</div>
              <% end %>
              <% if (elements.filter{|elem| elem.element_type.downcase == "floor"}).empty? %>
                <div class="cube-face cube-face-floor">floor</div>
              <% end %>
              <% if (elements.filter{|elem| elem.element_type.downcase == "ceiling"}).empty? %>
                <div class="cube-face cube-face-ceiling">ceiling</div>
              <% end %>
            </div>
          </div>
          <% elements.each do |elem| %>
          <% end %>
        </div>
    </div>
  <% end %>
</div>